@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

.contact-section {
  padding: 40px 0 70px;
  font-family: "Poppins", sans-serif;
  text-align: center;
}

.contact-title {
  font-size: 60px;
  font-weight: 700;
  margin-bottom: 30px;
  color: #000000;
  position: relative;
  left: 20px;
}

.contact-form {
  max-width: 475px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.contact-input,
.contact-textarea {
  width: 100%;
  padding: 20px;
  border-radius: 8px;
  border: 1px solid #aaa;
  background: #eaeaea;
  font-size: 22px;
  outline: none;
}

.two-inputs {
  display: flex;
  gap: 20px;
}

.half {
  width: 100%;
}

.contact-textarea {
  min-height: 150px;
  resize: none;
}

.contact-btn1 {
  margin-top: 10px;
  background: #26AAE3;
  color: rgb(0, 0, 0);
  border: none;
  padding: 12px 0;
  font-size: 26px;
  border-radius: 8px;
  cursor: pointer;
  width: 300px;
  margin-inline: auto;
  position: relative;
  left: 5px; 
}

.contact-btn:hover {
  background: #1c8fc1;
  transition: 0.2s;
}

.ci-section {
  padding: 40px 0 70px;
  font-family: "Poppins", sans-serif;
}

.ci-title {
  font-size: 60px;
  font-weight: 700;
  text-align: left;
  margin-left: 85px;
  margin-bottom: 40px;
  color: #000000;
}

.ci-grid {
  display: flex;
  justify-content: center;
  gap: 35px;
  padding: 0 50px;
}

.ci-card {
  display: flex;
  height: 490px;
  width: 420px;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 14px rgba(0,0,0,0.15);
}

.ci-bar {
  width: 22px;
  background: #26AAE3;
  border-radius: 10px 0 0 10px;
}

.ci-content {
  padding: 30px 25px;
}

.ci-icon {
  font-size: 40px;
  color: #26AAE3;
  margin-bottom: 15px;
}

.ci-heading {
  font-size: 38px;
  font-weight: 700;
  margin-bottom: 20px;
  color: #000000;
}

.ci-content p {
  font-size: 21px;
  line-height: 1.6;
  color: #333;
  text-align: left;
}

/* Responsive */
@media (max-width: 1100px) {
  .ci-grid {
    flex-direction: column;
    align-items: center;
  }
}