@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap');

.trust-section {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  gap: 60px;
  padding: 80px 60px;

  box-sizing: border-box;
  font-family: "Oxygen", sans-serif;
}

/* LEFT SIDE */
.trust-left {
  flex: 1;
  max-width: 650px;
}

.trust-title {
  font-size: 50px;
  font-weight: 700;
  color: #26AAE3;
  margin-bottom: 70px;
  line-height: 1.1;
  text-align: left;
}

.trust-text {
  font-size: 25px;
  line-height: 1.38;
  color: #000;
  text-align: left;
    margin-bottom: 70px;
}

/* RIGHT SIDE */
.trust-right {
  flex: 1;
  display: flex;
  justify-content: center;
}

.trust-right img {
  width: 100%;
  max-width: 750px;
  border-radius: 12px;
  object-fit: cover;
}

/* RESPONSIVE */
@media (max-width: 1024px) {
  .trust-section {
    flex-direction: column;
    text-align: center;
  }

  .trust-left,
  .trust-text,
  .trust-title {
    text-align: center;
  }
}

@media (max-width: 768px) {
  .trust-title {
    font-size: 40px;
  }

  .trust-text {
    font-size: 20px;
  }
}
