@import url("https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap");

.license-section {
  width: 100%;
  padding: 60px 0 90px;
  text-align: center;
  font-family: "Oxygen", sans-serif;
}

.license-title {
  font-size: 52px;
  color: #26AAE3;
  font-weight: 700;
  margin-bottom: 50px;
}

/* GRID */
.license-grid {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
}

/* CARD */
.license-card {
  width: 312px;
  height: 407px;
  background: #fff;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.license-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* RESPONSIVE */
@media (max-width: 1024px) {
  .license-card {
    width: 45%;
  }
}

@media (max-width: 768px) {
  .license-card {
    width: 90%;
    height: 320px;
  }

  .license-title {
    font-size: 40px;
  }
}
@media (max-width: 480px) {
  .license-card {
    height: 280px;
  }

  .license-title {
    font-size: 32px;
  }
}